*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#fafafa;
    color:#222;
}

.hero{
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

h1{
    font-size:4rem;
    font-weight:700;
}

h2{
    margin-top:15px;
    font-size:1.8rem;
    font-weight:400;
    color:#2563eb;
}

p{
    margin-top:30px;
    max-width:700px;
    font-size:1.2rem;
    line-height:1.7;
    color:#555;
}

/* ---------- NAVBAR ---------- */

nav{
    position:fixed;
    top:0;
    left:0;

    width:100%;

    background:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 10%;

    box-shadow:0 2px 8px rgba(0,0,0,.05);

    z-index:1000;
}

.logo{
    font-size:1.3rem;
    font-weight:700;
}

nav ul{
    list-style:none;
    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#222;
    transition:.25s;
}

nav a:hover{
    color:#2563eb;
}
